#container{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(141, 21, 197);
    color: rgb(250, 246, 17);
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: purple;
}
button:active{
    background-color: rgb(247, 6, 247);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#diceResult{
    margin: 25px;
}

#diceImages img{
    width: 20%;
}